<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!--
  ngFor ->mesma coisa que o .map() vai percorrer um array e plotar na tela criando um LET de um objeto Hero
    de um objeto HEROES

  ngIf -> vai informar caso selecione algum heroi ele habilita o campo, sem isso vai acusar de
    erro de tentar instanciar algo indefinido (undefined) pois em tempo de execução não foi nada definido como
    "default" e caso ngIf==true ou seja tenha algo selecionado ele habilita o DOM

  ngModel ->> bind com o atributo do objeto dentro do campo de input e caso altere reflete diretamente
   no SPAN
-->
